@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap');

body{
  margin: 0;
}
.App {
  background-image: linear-gradient(to right, orange, red);
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.top-section{
  display: flex;
  width: 50%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.heading{
  font-family: 'Bree Serif';
  color: black;
  font-weight: 500;
}
.input{
  width: 210px;
  height: 40px;
  border-radius: 6px;
  border: none;
  padding: 10px;
  box-sizing: border-box;
  margin-right: 10px;
  outline: none;
}
.add-btn{
  width: 100px;
  height: 40px;
  background-color: orange;
  border: none;
  border-radius: 6px;
  color: black;
  margin-top: 20px;
  font-size: 16px;
  font-family: 'Bree Serif';
  cursor: pointer;
}
.bottom-section{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
